
.containerLabCd {
    background-color: #27272b;
    min-height: 100vh;
}

.containerForm {
    display: flex;
}

.headerLab {
    display: flex;
    justify-content: space-between;
}

.toggleFormButton {
    margin: 10px;
    background: none;
    border: none;
    
}

.toggleFormButton img {
    width: 30px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    color: #e9e9e9;
}

form h1 {
    margin: 20px 20px 0;
}

label {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 40px;
    width: 300px;
}

.buttonEnviar {
    width: 150px;
    height: 40px;
    margin: 20px 0 20px 70px;
    color: #27272b;
    background-color: #D39820;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.buttonEnviar:hover {
    background-color: #d4a649;
}

label input, select {
    margin: 5px;
    height: 30px;
    text-align: center;
    width: 200px;
    color: #27272b;
}

.graficos {
    color: #e9e9e9;
    padding-top: 20px;
}

.graficos img {
    margin-top: 20px;
    max-width: 90%;
}

.buttonHome {
    margin: 10px;
    color: #e9e9e9;
    text-decoration: none;
}

.buttonHome img {
    width: 30px;
}

.buttonHome:hover{
    color: #D39820;
}

.loading:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #e9e9e9;
    border-top: 4px solid transparent;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.erro-mensagem {
    color: #e9e9e9;
}

@media only screen and (min-width: 768px) {
    .toggleFormButton {
        display: none;
      }

    form h1 {
        margin: 0 20px;
    }

    .erro-mensagem {
        margin-left: 100px;
        margin-top: 300px;
    }

    .loading {
        margin-left: 300px;
        margin-top: 300px;
    }
  }

@media only screen and (max-width: 767px) {
    .containerForm {
        display: block;
    }

    .graficos {
        margin-left: 20px;
    }
  
    form h1 {
        margin: 0 20px 0;
    }

    .erro-mensagem {
       margin-left: 40px;
    }

    .loading {
        margin-left: 40px;
    }
}