/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.containerForm {
    display: flex;
    background-color: #0f0f33;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    color: #e9e9e9;
}

form h1 {
    margin: 20px 20px 0;
}

label {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 40px;
    width: 300px;
}

form button {
    width: 150px;
    height: 40px;
    margin: 20px 0 20px 70px;
    color: #0f0f33;
    background-color: #D39820;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #d4a649;
}

label input, select {
    margin: 5px;
    height: 30px;
    text-align: center;
    width: 200px;
    color: #0f0f33;
}

.graficos {
    color: #e9e9e9;
    padding-top: 60px;
}

.graficos img {
    margin-top: 20px;
    max-width: 1000px;
} */